<div class="title-module">
  <div class="container">
    <h1> we’re <strong>rooting</strong> for these matches! </h1>
    <p> based on your answers, we think you'd get along with one of these...</p>
    <%= image_tag "hig-logo-plant.png", class: "q-logo" %>
  </div>
  <div class="container-fluid">
    <div class="match-cards">
      <% @matches.each do |plant| %>
        <div class="match-card">
          <div class="matched-plant-pic" data-toggle="modal" data-target="#exampleModalCenter<%= plant.id %>">
            <%= image_tag cl_image_path plant.photo.key, height: 300, width: 300 %>
          </div>
        <%#= cl_image_tag plant.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="match-info">
            <div>
              <h3><%=  plant.name.downcase %><%#= link_to plant.name, plant_path(plant)%> </h3>
              <!-- <div class="badges">
                <span class="badge badge-pill badge-primary"><%= plant.plant_watering_message.downcase %></span>
                <span class="badge badge-pill badge-warning"><%= plant.light.downcase %></span>
                <span class="badge badge-pill badge-danger"><%= plant.pet_friendly ? "pet friendly" : "toxic for pets" %></span>
              </div>
 -->
            </div>
            <%= link_to "pick me!", user_plants_path(plant_id: plant.id), method: :post, class: "btn btn-light" %>
            <%#= root for link_to above: user_plants_path(plant_id: plant.id) points to create method in user_plants, passes the plant.is as plant_id in the () section%>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter<%= plant.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><%= plant.name.downcase %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p> <%= plant.description.downcase %> </p>
              </div>
              <div class="badges">
                <span class="badge badge-pill badge-light"><%= image_tag "https://cdn3.iconfinder.com/data/icons/sympletts-free-sampler/128/sun-512.png", class: "q-logo" %> <%= plant.light.downcase %></span>
                <span class="badge badge-pill badge-light"> <%= image_tag "https://cdn2.iconfinder.com/data/icons/spring-31/30/Watering_Can-512.png", class: "q-logo" %><%= plant.plant_watering_message.downcase %></span>
                <span class="badge badge-pill badge-light"> <%= image_tag "https://cdn3.iconfinder.com/data/icons/sympletts-part-8/128/pot-flower-512.png", class: "q-logo" %><%= plant.space.downcase %> plant</span>
                <span class="badge badge-pill badge-light"> <%= image_tag "https://cdn4.iconfinder.com/data/icons/dog-breed-minimal-outline/512/Dalmatian-512.png", class: "q-logo" %> <%= plant.pet_friendly ? "pet friendly" : "toxic for pets" %></span>
              </div>
              <div class="modal-footer">
                <%= link_to "pick me!", user_plants_path(plant_id: plant.id), method: :post, class: "btn btn-main" %>
                <button type="button" class="btn btn-grey" data-dismiss="modal">close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <p>want to <strong>seed</strong> what else is out there? click to randomise!</p>
  <div class="d-flex justify-content-center pt-2">
    <%= link_to matches_path, class: "btn btn-main" do%>
      <i class="fas fa-dice-three"></i><span> lucky dip!</span>
    <% end %>
  </div>

</div>
