<div class="q-module">
  <div class="container">
    <h2> your plant patch </h2>
    <%= image_tag "hig-logo-plant.png", class: "q-logo" %>
  </div>
</div>

<div class="container-fluid">
  <div class="q-cards">
    <% @my_plants.each do |my_plant| %>
      <div class="q-card-wrapper">
        <div class="delete-icon">
          <%= link_to user_plant_path(my_plant), method: :delete, data: { confirm: 'Are you sure you want to kill your plant?' } do%>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>

        <%= link_to user_plant_path(my_plant) do %>
          <div class="q-card" id="plant-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path my_plant.plant.photo.key %>')">
            <div></div>
            <div class="plant-name">
              <h4 id="plant-name"><%= my_plant.plant.name.downcase %></h4>
            </div>

            <div class="badges">
              <span class="badge rounded-pill badge-light"> <%= image_tag "https://cdn0.iconfinder.com/data/icons/business-management-3-4/256/m-04-512.png", class: "q-logo" %> <%= my_plant.start_date ? "started growing #{my_plant.start_date.strftime("%d/%m/%Y")}" : "i'm glad you pricked me" %></span>
              <span class="badge rounded-pill badge-light"> <%= image_tag "https://cdn1.iconfinder.com/data/icons/construction-tool-line-foreman-equipment/512/Measuring_tape-512.png", class: "q-logo" %> <%= my_plant.size ? "this plant is #{my_plant.size} inches tall" : "do you have thyme to see me grow?" %> </span>
            <!-- <span class="badge badge-pill badge-primary"><%= my_plant.plant.plant_watering_message.downcase %></span>
            <span class="badge badge-pill badge-warning"><%= my_plant.plant.light.downcase %></span> -->
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="add-new">
  <%# link_to 'Add a new plant', new_plant_user_plant_path, class: "btn" %>
</div>

