<h1>Test</h1>

<% @user_plants.each do |user_plant| %>
<tr>
  <td><%= user_plant.name %></td>
  <td><%= user_plant.start_date %></td>
  <td><%= user_plant.size %></td>
  <td><%= link_to 'Show', user_plant %></td>
  <td><%= link_to 'Edit', edit_user_plant_path(user_plant) %></td>
  <td><%= link_to 'Destroy', user_plant, method: :delete, data: { confirm: 'Are you sure you want to kill your plant?' } %></td>
</tr>
<% end %>

<div id="add-new">
  <% link_to 'Add a new plant', new_plant_user_plant_path, class: "btn" %>
</div>
