<div class="all-qs">
  <div class="q-module">
    <div class="container">
      <h2><strong>lettuce</strong> get started... </h2>
      <%= image_tag "hig-logo-plant.png", class: "q-logo" %>
    </div>
    <div class="container-fluid">
      <div class="form">
        <%= simple_form_for [ @match ] do |f| %>
            <%= f.input :q1, label: "what's your goal?", as: :radio_buttons,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'q-cards',
                item_wrapper_class: 'question-card',
                input_html: { class: "category-selector" },
                collection: [ "grow something edible", "grow something beautiful", "grow something unkillable", "grow something for fun"] %>
        <div class="container">
          <%= image_tag "hig-logo-plant.png", class: "q-logo" %>
        </div>
          <%= f.input :q2, label: "do you want to grow your plant indoors or outdoors in soil?",
                as: :radio_buttons,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'space-cards',
                item_wrapper_class: 'q-card',
                input_html: { class: "category-selector" },
                collection: ["indoors", "outdoors", "don't mind"] %>
          <div class="container">
            <%= image_tag "hig-logo-plant.png", class: "q-logo" %>
            <%= f.input :q3, label: "how much light does your new plant home get?", as: :range,
            input_html: { min: 1, max: 5, steps: 1, value: 3, class: "slider", id: "myRange" }%>
            <div class="range-labels">
              <p>not much light</p>
              <p>lots of light</p>
          </div>
        </div>
        <div class="container d-flex justify-content-center pb-5">
          <%= f.submit "let's grow!", class: "btn btn-main" %>
        </div>
            <%#= link_to suit_path(@suit), class:"btn btn-gray" do%>
          <% end %>
      </div>
    </div>
  </div>
</div>
