
<%= form_tag plants_path, method: :get do %>
    <div class="flexbox">
      <div class="search">
      <h1> bloomin' heck that's a lot of plants </h1>
        <div>
          <%= text_field_tag :query,
          params[:query], 
          placeholder: "search our garden . . . . . . . . . "%> 
        </div>
      </div>
      <%# <h3>find a plant</h3> %>
    </div>
    <%= submit_tag "", style: "display: none;" %>
<% end %>

<div class="q-module">
  <h3>browse our virtual garden</h3>
  <p>click on a plant to learn all about it </p>
</div>
<div class="container-fluid">
  <div class="q-cards">
    <% @plants.each do |plant| %>
      <%= link_to plant do %>
         <div class="q-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path plant.photo.key %>')">
          <%# if plant.photo.attached? %>
              <!-- <div class=""> -->
                <%#= cl_image_tag plant.photo.key %>
            <div>
              <div>
                <h4 id="plant-name"><%= plant.name.downcase %></h4>
              </div>
              <div class="badges">
              <span class="badge badge-pill badge-primary"><%= plant.plant_watering_message.downcase %></span>
              <span class="badge badge-pill badge-warning"><%= plant.plant_light_message.downcase %></span>
              <span class="badge badge-pill badge-secondary"><%= plant.space.downcase %></span>
              <span class="badge badge-pill badge-danger"><%= plant.pet_friendly ? "pet friendly" : "toxic for pets" %></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
