<h1>all plants</h1>
<div class="jumbotron">
  <!-- <h1 class="display-4">Search for a specific plant</h1> -->
  <p class="lead">search for a specific plant</p>
  <!-- <hr class="my-4"> -->
  <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
  <p class="lead">
    <div class="search-module d-flex flex-column align-self-stretch">
         <%= form_tag plants_path, method: :get, class: "d-flex" do %>
           <%= text_field_tag :query,
             params[:query],
             class: "form-control",
           placeholder: "find a plant"
           %>
           <%= submit_tag "go!", class: "btn btn-orange" %>
         <% end %>
      </div>
  </p>
</div>

<div class="q-cards">
  <% @plants.each do |plant| %>
    <%= link_to plant do %>
       <div class="q-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path plant.photo.key %>')">
        <%# if plant.photo.attached? %>
            <!-- <div class=""> -->
              <%#= cl_image_tag plant.photo.key %>
          <div>
            <div>
              <h5 id="plant-name"><%= plant.name.downcase %></h5>
            </div>
            <div class="badges">
            <span class="badge badge-pill badge-primary"><%= plant_watering_message(plant).downcase %></span>
            <span class="badge badge-pill badge-warning"><%= plant_light_message(plant).downcase %></span>
            <span class="badge badge-pill badge-secondary"><%= plant.space.downcase %></span>
            <span class="badge badge-pill badge-danger"><%= plant.pet_friendly ? "pet friendly" : "toxic for pets" %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
