<div class="q-module">

</div>

<div class="plant_overview">
  <div class="plant_features">
    <h2> how's your <strong><%=  @user_plant.plant.name.downcase %> </strong> growing?</h2>
    <ul>
      <% if @user_plant.start_date.nil? %>
        <li> <%= image_tag "https://cdn0.iconfinder.com/data/icons/business-management-3-4/256/m-04-512.png", class: "q-logo" %>it looks like you haven't started growing this yet! </li>
      <% else %>
        <li> <%= image_tag "https://cdn0.iconfinder.com/data/icons/business-management-3-4/256/m-04-512.png", class: "q-logo" %> you've been growing this plant since <strong><%= @user_plant.start_date %></strong></li>
      <% end %>
      <% if @user_plant.size.nil? %>
        <li> <%= image_tag "https://cdn1.iconfinder.com/data/icons/construction-tool-line-foreman-equipment/512/Measuring_tape-512.png", class: "q-logo" %> it looks like you haven't added a measurement yet! </li>
      <% else %>
        <li> <%= image_tag "https://cdn1.iconfinder.com/data/icons/construction-tool-line-foreman-equipment/512/Measuring_tape-512.png", class: "q-logo" %> last time we checked, your plant was <strong><%= @user_plant.size %> inches tall</strong></li>
      <% end %>
      <li> <%= image_tag "https://cdn2.iconfinder.com/data/icons/spring-31/30/Watering_Can-512.png", class: "q-logo" %> remember to  <strong><%=  @user_plant.plant.watering.downcase%></strong> </li>
      <li> <%= image_tag "https://cdn3.iconfinder.com/data/icons/sympletts-free-sampler/128/sun-512.png", class: "q-logo" %> your time to shine! your plant needs <strong><%=  @user_plant.plant.light.downcase%></strong> </li>
    </ul>
    <!-- buttons -->
    <div class="button_list d-flex pt-2">
      <%= link_to edit_user_plant_path, class: "btn btn-light mr-2" do%>
        <i class="fas fa-edit"></i><span> edit</span>
      <% end %>
      <%= link_to user_plant_path(@user_plant), method: :delete, data: { confirm: 'Are you sure you want to kill your plant?' }, class: "btn btn-grey" do%>
        <i class="fas fa-trash-alt"></i><span> delete</span>
      <% end %>
      <%= link_to plant_patch_path do%>
    <i class="fas fa-arrow-circle-left back-icon"></i>
  <% end %>
    </div>
  </div>
  <!-- image -->
  <div class="plant_image">
     <% if @user_plant.photos.first  %>
      <% @user_plant.photos.each do |p| %>
        <%= cl_image_tag p.key %>
      <% end %>
     <% else %>
      <%= cl_image_tag @user_plant.plant.photo.key %>
    <% end %>
  </div>
</div>
