
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 login-section-wrapper">
      <div class="brand-wrapper">
        <%= image_tag "hig-logo-normal.png", class: "logo" %>
      </div>
      <div class="login-wrapper my-auto">
        <h1 class="login-title">log in</h1>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
            </div>
            <div class="form-group mb-4">
              <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "log in", class: "login-btn" %>
              <% end %>
            </div>
            <p  class="login-wrapper-footer-text"> <%= image_tag "https://cdn2.iconfinder.com/data/icons/farm-agriculture/64/plant_farming_agriculture_ecology_nature_growing_eco-256.png", class: "q-logo" %>don't have an account?<strong>
            <%= link_to 'sign up', new_user_registration_path, class: "text-reset" %></strong> </p>
      </div>
    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="text-block">
        <%= image_tag "leaf.jpeg"%>
          <span class="overlay-text">
          <h5>aloe there,</h5>
          <h5>new friend</h5>
          <h4>well come back to your plant patch</h4>
          </span>
        </div>
  </div>
</div>